---
import siteConfig from "@/site.config";

export interface Props {
  meta?: string;
  annotation?: string;
}

const {
  meta = 'A personal publication &middot; Travels &middot; Technology<br>And everyday notes',
  annotation,
} = Astro.props;
---

<footer class="border-border mt-12 border-t py-8 ">
  <div class="app-layout">
    <div class="flex flex-col items-center">

      {annotation && (
        <span class="font-annotation block text-muted-foreground max-w-70 md:max-w-80 mx-auto mt-6 text-sm text-center -rotate-1 leading-snug">
          {annotation}
        </span>
      )}
    </div>
  </div>
</footer>
